<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Lá số tử vi</title>
</head>

<body>
    <div class="full">
        <div class="top">
            <div class="top-one">
                <div class="top-box"><a class="a" href="/gioithieu">
                        <p class="top-content">Giới thiệu</p>
                    </a></div>
                <a class="a" href="/">
                    <div class="top-box"><img src="/image/logochu1.png" class="top-content-image"></div>
                </a>
                <div class="top-box"><a class="a" target="_blank"
                        href="https://podcasters.spotify.com/pod/show/minh-phuc-duong">
                        <p class="top-content">Podcast</p>
                    </a></div>
            </div>
            <div class="top-two">
                <a class="b" href="/"><img class="b" src="/image/logochu1.png"></a>
                <img src="/image/menuicon.png" class="top-content-image ba" id="button">
            </div>
            <div class="top-bar-moblie" id="bar-moblie">
                <div class="top-box-mb"><a class="a" href="/gioithieu">
                    <p class="top-content">1.Giới thiệu</p>
                </a></div>
                <div class="top-box-mb"><a class="a" target="_blank"
                    href="https://podcasters.spotify.com/pod/show/minh-phuc-duong">
                    <p class="top-content">2. Nghe Podcast</p>
                </a></div>
            </div>
        </div>
        <div class="mid">

            <div class="mid-one webbanner">
                <div class="banner">
                    <img class="banner" src="/image/laplasobanner.png">
                </div>
            </div>
            <div class="mid-one mobibanner" >
                <div class="banner">
                    <img class="banner" src="/image/laplaso.mobibanner.png">
                </div>
            </div>

            <!-- content center -->
            <div class="mid-one">
                <img id="anhlaso" class="banner" src="<%= image %>" alt="Canvas Image" >
            </div>

            <div class="mid-one">
                <a >

                </a>
            </div>

            <div class="mid-one webbanner">
                <div class="banner ">
                    <img class="banner" src="image/luangiai.png">
                </div>
            </div>

            <div class="mid-one mobibanner">
                <div class="banner">
                    <img class="banner" src="image/luangiai.mobi.png">
                </div>
            </div>

            <div class="mid-one">
                <div class="mid-one-content1">
                    <a><img class="banner1" src="/image/box5.png"></a>
                    <a><img class="banner1" src="/image/box6.png"></a>
                </div>
            </div>
        </div>
        <div class="bot">
            <div class="bot-item">
                <a href="https://www.facebook.com/tuvi.minhphucduong" target="_blank">
                    <img class="icon" src="/image/facebook.png">
                </a>

                <a href="https://www.youtube.com/@vn.minhphucduong" target="_blank">
                    <img class="icon" src="/image/youtube.png">
                </a>

                <a href="https://podcasts.apple.com/us/podcast/minh-ph%C3%BAc-%C4%91%C6%B0%E1%BB%9Dng/id1746343612" target="_blank">
                    <img class="icon" src="/image/podcasts.png">
                </a>

                <a href="https://open.spotify.com/show/4zxnJaHsMfmcNdlP1udgW0" target="_blank">
                    <img class="icon" src="/image/spotify.png">
                </a>
            </div>
        </div>
    </div>
    <script>
        var menuButton = document.getElementById("button")
        var menuMobile = document.getElementById("bar-moblie")

        function showMenu() {
            if (menuMobile.style.visibility === "hidden") {
                menuMobile.style.visibility = "visible";
                menuMobile.style.opacity = "1";
                menuMobile.style.transition = "visibility 0.3s , opacity 0.3s linear";
            } else {
                menuMobile.style.visibility = "hidden";
                menuMobile.style.opacity = "0";
                menuMobile.style.transition = "visibility 0.3s , opacity 0.3s linear";
            }
        }
        menuButton.addEventListener("click", showMenu)
    </script>
</body>

</html>